<html>
  <%- include('partials/head', {title: 'Login page'})%>
  <body>
    <% if (messages) { %>
      <%= messages.error %>
    <% } %>
    <div class="container col-md-5">
      <form action="/api/v1/users/login" method="POST" style="padding:20px"  class="form">
        <div class="form-group">
          <label for="username" >username</label> <br />
          <input type="text" name="username" placeholder="input username" class="form-control"/> <br />
        </div>
        <div class="form-group">
          <label for="password">password</label> <br />
          <input type="password" name="password" placeholder="input password" class="form-control"/> <br />
        </div>

        <div class="float-right">
          <button class="btn btn-lg btn-primary"  type="submit">login</button>
        </div>
      </form>
    </div>
  </body>
</html>